@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Custom Colors */
  --color-primary: #2dd4bf;
  --color-secondary: #0f766e;
  --color-background-light: #f8fafc;
  --color-background-dark: #0a192f;
  --color-navy-light: #112240;
  --color-text-light: #1e293b;
  --color-text-dark: #ccd6f6;

  /* Font Families */
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;

  /* Custom Box Shadow */
  --shadow-neon:
    0 0 10px rgba(45, 212, 191, 0.3), 0 0 20px rgba(45, 212, 191, 0.1);
}
