---
/**
 * Header Initials Icon Component
 * Displays the "CC" initials in a styled box
 */
---

<div class="shrink-0">
  <span
    class="border-primary text-primary flex h-[28px] w-[28px] items-center justify-center rounded-md border-2 font-mono text-[0.9rem] font-bold text-teal-400 md:h-[32px] md:w-[32px] md:text-base lg:h-[50px] lg:w-[50px] lg:text-[1.35rem]"
  >
    CC
  </span>
</div>
