---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import heroLogo from '../assets/hero-logo-v1.png';
import ScrollIndicator from './ScrollIndicator.astro';
import Button from './ui/Button.astro';
---

<div class="h-full font-sans md:flex md:flex-col md:justify-center">
  <main class="relative flex h-full flex-col items-center justify-center">
    <section
      class="grid w-full max-w-350 grid-cols-1 items-center justify-center gap-4 px-16"
      id="heroTitleSection"
    >
      <div
        class="z-10 flex flex-col items-center text-center"
        id="heroTextContent"
      >
        <h1
          class="text-primary mt-14 font-mono text-2xl font-medium md:mt-24 md:text-3xl"
          id="heroGreeting"
        >
          Hi! I'm <p
            class="text-text-light dark:text-text-dark my-5 text-5xl font-extrabold md:my-8 md:w-150 md:text-8xl"
          >
            Christian Conchari
          </p>
        </h1>

        <h3
          class="text-primary my-4 font-mono text-2xl font-medium md:my-6 md:text-3xl"
          id="heroSubtitle"
        >
          Software Architect | ML Engineer
        </h3>

        <p
          class="text-text-light dark:text-text-dark text-md mt-8 max-w-2xl font-normal md:mt-10 md:text-xl"
          id="heroDescription"
        >
          I'm a <span class="text-primary">Software Architect</span> and <span
            class="text-primary"
          >
            ML Engineer
          </span> specializing in building robust web applications and machine learning
          solutions. With a passion for technology and innovation, I strive to create
          impactful digital experiences.
        </p>
      </div>
    </section>
    <section
      class="z-0 mt-8 flex items-center justify-center"
      id="heroButtonSection"
    >
      <Button href="#contact" variant="solid" id="contactButton" class="m-4 px-6 py-3 md:mx-6">
        Contact Me
      </Button>
      <Button href="#projects" variant="outline" id="portfolioButton" class="m-4 px-6 py-3 md:mx-6">
        View Portfolio
      </Button>
    </section>
    <ScrollIndicator targetId="about" />
  </main>
</div>
