---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import heroLogo from '../assets/hero-logo-v1.png';
---

<div class="h-full font-sans md:flex md:flex-col lg:block">
  <main class="flex h-full items-center justify-center">
    <section
      class="grid w-full max-w-[1400px] grid-cols-1 items-center justify-center gap-4 pl-10 md:grid-cols-2 md:pt-0"
    >
      <div class="z-10 flex flex-col items-start">
        <h1
          class="mt-2 font-mono text-5xl font-medium text-teal-500 max-md:leading-snug md:leading-[1.1]"
        >
          Hi! I'm <p class="font-semibold text-teal-300">Christian Conchari</p>
        </h1>
        <h3 class="my-4 font-mono text-3xl font-medium text-teal-500">
          Software Architect | ML Engineer | Full-Stack Developer
        </h3>

        <p
          class="my-1 max-w-[60ch] font-mono text-2xl leading-7 tracking-tight text-teal-400"
        >
          Working on scalable, and intelligent systems. Let's build something
          amazing together!
        </p>
        <!-- <div id="links" class="flex gap-4">
            <a href="https://github.com/chrisconchari" target="_blank" class="flex items-center p-3 text-[#0ff4d3] transition-colors hover:text-[#0dd4b3]">
                <img src={githubLogo} alt="GitHub" class="h-4 ml-2" />
            </a>
            ...
        </div> -->
      </div>
      <div class="relative mt-4 flex items-center justify-center md:mt-0">
        <img
          src={heroLogo.src}
          alt="Hero Logo"
          class="h-auto object-contain drop-shadow-[0_0_20px_rgba(34,211,238,0.2)] max-md:max-h-[250px]"
        />
      </div>
    </section>
  </main>
</div>
