---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="/src/assets/favicon.ico"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/src/assets/favicon-dark.ico"
      media="(prefers-color-scheme: light)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Christian Conchari</title>
  </head>
  <body class="bg-[#0a0e27] font-sans antialiased w-full h-full">
    <Header />
    <slot />
  </body>
</html>
