---
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="/src/assets/favicon.ico"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/src/assets/favicon-dark.ico"
      media="(prefers-color-scheme: light)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Christian Conchari</title>
    <script is:inline>
      const theme =
        localStorage.getItem('theme') ||
        (window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light');
      document.documentElement.classList.toggle('dark', theme === 'dark');
    </script>
  </head>
  <body
    class="bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark selection:bg-primary selection:text-background-dark overflow-x-hidden font-sans antialiased transition-colors duration-300"
  >
    <Header />
    <slot />
  </body>
</html>
